:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1400px;
  --dl-radius-radius-round: 50%;
  --dl-color-theme-darkblue: #0f172aff;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-color-theme-lightblue: #94a3b8ff;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-color-theme-buttondrak: #4f46e5ff;
  --dl-space-space-threeunits: 48px;
  --dl-color-theme-backroundlight: #f1f5f9ff;
  --dl-color-theme-lightbackground: #f1f5f9ff;
  --dl-space-space-oneandhalfunits: 24px;
  --dl-color-theme-dashboardprimary: #7a8cf8ff;
  --dl-color-theme-typograpghyprimary: #1e2a3bff;
  --dl-color-theme-typographysecondary: #64748bff;
}
.teleport-show {
  display: flex !important;
}
.list-item {
  display: list-item;
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-type: none;
  list-style-position: outside;
}
.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 5px 16px;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.left-menu {
  color: var(--dl-color-gray-white);
  width: 240px;
  transition: all 0.4s;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-unit);
  background-color: var(--dl-color-theme-darkblue);
}
.top-bar {
  height: 64px;
  box-shadow: 0 1px 2px 0 #0000001a;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-bottom: 1px solid #e2e8f0;
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-unit);
  background-color: white;
}
.main {
  display: flex;
  overflow: auto;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.menu-item-container {
  flex: 0 0 auto;
  width: 100%;
  height: 44px;
  display: flex;
  font-size: 13px;
  transition: all 0.3s;
  align-items: center;
  font-weight: 600;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-start;
}
.menu-item-container:hover {
  background-color: #ffffff30;
}
.menu-item-icon {
  width: 24px;
  filter: invert(100%);
  height: 24px;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
}
.menu-item-container-selected {
  background-color: #ffffff30;
}
.menu-item-container-selected:hover {
  background-color: #ffffff30;
}
.center-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--dl-color-theme-backroundlight);
}
.right-sidebar-menu {
  flex: 0 0 auto;
  width: 64px;
  border: 1px solid #e2e8f0;
  display: flex;
  min-height: 100vh;
  align-items: center;
  padding-top: 90px;
  flex-direction: column;
  justify-content: flex-start;
}
.tiberiu {
  color: #b72a2a;
  margin-top: 16px;
  margin-bottom: 16px;
}
.card {
  display: flex;
  box-shadow: 0px 1px 2px 0px #00000040;
  border-radius: 1rem;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}

.card-top {
  flex: 0 0 auto;
  width: 100%;
  margin: 0 auto;;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.card-title {
  color: var(--dl-color-theme-typograpghyprimary);
  font-size: 16px;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: 24px;
}
.card-subtitle {
  color: var(--dl-color-theme-typographysecondary);
  font-size: 14px;
  font-style: normal;
  text-align: left;
  font-weight: 500;
  line-height: 21px;
}
.thead {
  heigth: auto;
  margin: 0 auto;;
  display: grid;
  padding: 24px;
  place-items: center;
  white-space: nowrap;
  border-bottom: 1px solid rgba(226,232,240);
  border-opacity: 1;
  grid-template-columns: 1fr 2fr 3fr 3fr 1fr 3fr;
}
.auto-update {
  flex: 0 0 auto;
  align-self: flex-start;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-left: var(--dl-space-space-oneandhalfunits);
  padding-top: var(--dl-space-space-twounits);
  margin-right: auto;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.checkbox-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  text-align: left;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.checkbox-btn {
  align-self: center;
  margin-right: var(--dl-space-space-halfunit);
}
.tbody {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.table-text {
  color: #1e293b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  background-color: transparent;
}
.checkbox-text {
  font-size: 14px;
  align-self: center;
}
.thead-text {
  color: #64748b;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  background-color: transparent;
}
.tbody-text {
  color: #1e293b;
  display: grid;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  white-space: nowrap;
  background-color: transparent;
}
.tbody-container {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
}
.trow {
  color: #1e293b;
  width: 100%;
  display: grid;
  font-size: 12px;
  padding-top: var(--dl-space-space-halfunit);
  border-bottom: 1px solid rgba(226,232,240);
  margin-bottom: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.right-sidebar-top {
  width: 100%;
  border: 1px solid #e2e8f0;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-sidebar-top-left {
  flex: 0 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-sidebar-top-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50%;
}
.right-sidebar-top-button {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  width: 35px;
  cursor: pointer;
  height: 33px;
  margin-right: 10px;
}
.right-sidebar-messages-container {
  flex: 0 0 auto;
  width: 100%;
  border: 1px solid #e2e8f0;
  height: 80%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.right-sidebar-send-input {
  color: black;
  width: 80%;
  cursor: pointer;
  padding: 10px 16px;
  margin-left: 10px;
  border-color: black;
  border-radius: 20px;
}
.right-sidebar-send-btn {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.progress-bar {
  flex: 0 0 auto;
  width: 200px;
  height: 6px;
  display: flex;
  padding: 1px;
  align-items: flex-start;
  border-color: var(--dl-color-theme-lightblue);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: var(--dl-color-theme-lightblue);
}
.progress-bar-value {
  flex: 0 0 auto;
  width: 100px;
  height: 100%;
  display: flex;
  transition: width 0.4s;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.right-sidebar-container {
  flex: 0 0 auto;
  width: 280px;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  transition: 0.4s ease;
  align-items: flex-start;
  flex-direction: column;
}
.right-sidebar-top-heading {
  color: #595959;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
}
.test {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.right-sidebar-send-container {
  width: 100%;
  border: 1px solid #e2e8f0;
  height: 15%;;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.big-number {
  color: var(--dl-color-primary-300);
  font-size: 64px;
  font-style: normal;
  font-family: Roboto Mono;
  font-weight: 700;
  line-height: 64px;
}
.big-number-green {
  color: var(--dl-color-success-300);
  font-size: 64px;
  font-style: normal;
  font-family: Roboto Mono;
  font-weight: 700;
  line-height: 64px;
}
.big-number-container {
  display: flex;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}
.heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
  text-transform: none;
  text-decoration: none;
}



