.burger-menu24-container {
  display: flex;
  position: relative;
}
.burger-menu24-container1 {
  width: 36px;
  height: 36px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.burger-menu24-container1:hover {
  background-color: #d9d9d970;
}
.burger-menu24-container1:active {
  background-color: var(--dl-color-gray-900);
}
.burger-menu24-icon {
  width: 24px;
  height: 24px;
}
